@use 'variables' as *;
@use 'header';
@use 'nav';
@use 'stars';
@use 'card';
@use 'catalog';

html {
  font-family: Roboto, sans-serif;
  font-size: 10px;
  line-height: 14px;
  color: $color-text;
}

body {
  margin: 0;
}
